컴퓨터에게 명령내리는게 프로그래밍!!
우리는 파이썬이라는 언어로 수행할 뿐임

# 파이썬 문법 1

## 가장기본적인 것 : print

In [ ]:
print(1234)  # 소괄호 안에 있는 내용을 출력하라는 명령

In [ ]:
print('이새봄')  # 문자열 입력시 따옴표 사용 "". ''

print(1234+1234)

print(이새봄 * 10)

## 데이터가 긴 경우 변수를 쓰자!

In [ ]:
print('우리는 지금 파이썬을 배우고 있다')
print('우리는 지금 파이썬을 배우고 있다')
print('우리는 지금 파이썬을 배우고 있다')

In [ ]:
# 변수는 데이터를 잠깐 보관하는 곳
# 변수이름 = 담을 데이터

A = '우리는 지금 파이썬을 배우고 있다'
print(A)

In [ ]:
A[0:3]

In [ ]:
# 인덱싱

print(A[0])
print(A[0:2])

## 기본 자료형
- 숫자형: 정수, 실수, 복소수
- 논리형: True, False

In [ ]:
# 숫자형 정수

a = 123
print(a)
#숫자형 실수
b = 12.34
print(b)
#숫자형 복소수
c = 1+2j
print(c)
print(abs(c))

In [ ]:
# 논리형
2==3

In [ ]:
True+True

In [ ]:
# 숫자형 연산(덧셈)

a = 3
b = 4
a + b

In [ ]:
a - b

In [ ]:
a * b

In [ ]:
a / b

In [ ]:
# 나머지 연산
a % b

In [ ]:
# 나눗셈 몫 구하기
a // b

## 그룹 자료형
- 문자열(string), 리스트(list), 튜플(tuple), 딕셔너리(dictionary), 그룹(set)

#### 문자열

In [ ]:
s1 = "Hello world!"
s1

In [ ]:
head = "Python"
tail = " is fun"

head + tail

In [ ]:
head * 2

print("=" * 5)

In [ ]:
# 문자열 인덱싱
s2 = "Now is better than never"


s2[7:-11]

In [ ]:
# 문자열 슬라이싱

s2[0:3]

s2[4:6]

s2[:3]

s2[:]

s2[7:-11]

s2[19:]

In [ ]:
# 문자 개수 계산
a = "python"
a.count('p')

In [ ]:
# 문자 위치 확인 find(), index()

#a.find('y') # 문자가 없을 경우 -1 출력

a.index('p') # 문자가 없을 경우 에러메시지 출력

In [ ]:
# 문자 삽입
b = ","
c = b.join('Abcd')
c

In [ ]:
# 대문자 변환

a.upper()

In [ ]:
# 소문자 변환
a.lower()

In [ ]:
# 공백제거
d = "    py    "
d.lstrip()

In [ ]:
# 공백제거
d = "    py    "
#d.strip()  # 양쪽 공백 제거

d.rstrip() # 오른쪽 공백 제거

In [ ]:
# 문자열 바꾸기 replace()

a = "Python is difficult."

a.replace("difficult", "funny")

In [ ]:
# 문자열 나누기 split()

b = "a, b, c, d"
b

b.split(',')

#### 리스트

- [] 안에 원소를 순서대로 나열한 그룹 자료형
- 한 변수에 여러개의 자료를 동시에 저장 가능

In [ ]:
# 중고차 = 'K5 white 5000'

중고차 = ['k5', 'white', 5000] # 리스트는 반드시 [] 사용
print(중고차)

In [ ]:
a = [1,2,3]
b = ['life', 'is', 'too', 'short']
c = [1, 2, 'life', 'is']
d = [1, 2, [3, 4], ['life', 'is']]

d

In [ ]:
# 리스트 인덱싱

#중고차[0]

#d[2]

d[3][-1]

In [ ]:
# 슬라이싱
d[0:3]

In [ ]:
# 리스트 수정

중고차[1] = 'black'
print(중고차[1])

In [ ]:
#리스트 연결
a = [1,2,3]
b = ['life', 'is', 'too', 'short']
#a+ b

#b[0] + " Hi ! ^^;"

a[0] + 1

In [ ]:
# 리스트 반복

a * 3

In [ ]:
# 리스트 삭제

del b
b

In [ ]:
# 리스트 원소 추가
a.append(5)
a

In [ ]:
# 원소 정렬
b.sort()

In [ ]:
# 원소 삽입

a.insert(0, 99)
a

In [ ]:
#  원소 삭제
a.remove(99)
a

#### 튜플
- () 안에 원소를 순서대로 나열한 그룹 자료형
- 리스트와 달리 원소의 값을 변경할 수 없음

In [ ]:
t1 = (1, )
t2 = (1,2,3)
t3=1,2,3
t4=(1,2,(3,4),('life', 'is'))

#### 딕셔너리
- {} 안에 key:value 처럼 쌍의 형태로 이루어진 원소를 가지는 그룹 자료형
- 원소는 순서를 가지지 않으므로 인덱스 대신 key를 이용하여 원소를 지정함

In [ ]:
중고차2 = {'brand': 'BMW', 'model':'520d' }
print(중고차2)

In [ ]:
# 딕셔너리 만들기
#dic = {'name':'Hong', 'phone':'01012345678', 'birth':'0814'}

dic = {'name':'Hong',
       'phone':'01012345678',
       'birth':'0814'}

In [ ]:
# 딕셔너리 원소 추가
#dic[1] = 'a'
#dic

dic['pet'] = 'dog'
dic

In [ ]:
# 딕셔너리 원소 삭제
del dic[1]
dic

In [ ]:
# 원소의 value 구하기
dic['pet']

In [ ]:
# key 리스트 만들기
dic.keys()

list(dic.keys())

In [ ]:
# value 리스트 만들기
dic.values()
list(dic.values())

In [ ]:
# key, valule 쌍 구하기
dic.items()

In [ ]:
#원소 삭제
dic.clear()
dic

##조건문과 반복문
#### 조건문 : 참(Ture) 또는 거짓(False)을 판별하는 조건식을 검사하여 결과값이 참인지 거짓인지에 따라 실행할 문장을 선택하여 처리하는 제어문

- if문, if-else문, if-elif-else문

- if문: 단일 조건문으로 조건식을 검사하여 결과가 참이면 명령문1을 수행하고  거짓이면 명령문1을 건너뛰고 명령문 2를 수행함

In [ ]:
'''
if 조건식:
      실행할 명령문1
실행할 명령문2
'''

재고량 = 1

if 재고량 > 0 :
    print('지금 주문가능합니다.')

In [ ]:
재고량 = 0

if 재고량 > 0 :
    print('지금 주문가능합니다.')
print('지금 주문이 불가능합니다.')

In [ ]:
중고차재고 = ['K5', 'Sonata', 'BMW']

if 'K5' in 중고차재고 :
    print('지금 주문가능합니다.')

- if-else문: 단일 조건문으로 조건식을 검사하여 결과가 참이면 명령문 1을 수행한뒤 명령을 3을 수행하고 거짓이면 명령문 2를 수행한뒤 명령문 3을 수행한다.

In [ ]:
'''
if 조건식:
    실행할 명령문1
else:
    실행할 명령문2

실행할 명령문 3
'''

In [ ]:
if 'K6' in 중고차재고 :
    print('지금주문가능합니다.')
else :
    print('주문 불가능합니다.')
print('다른 브랜드를 주문하세요')

- 다중if문 : if-elif-else문
- 조건식1이 거짓이면 조건식 2를 검사

In [ ]:
'''
if 조건식1 :
    실행할 명령문1
elif 조건식 2 :
    실행할 명령문2
else :
    실행할 명령문3

In [ ]:
score = 90

if score >= 94: # 94점부터 100점
    print('1등급입니다.')
elif score >= 87: # 93점부터 87점
    print('2등급입니다.')
elif score >= 81: # 86점부터 81점
    print('3등급입니다.')
else:
    print('3등급 미만입니다.')

* 나이에 따라서 입장료는 다음과 같다고 해보자.
* 1세 이상 ~ 8세 미만: 3,000원
* 8세 이상 ~ 19세 미만: 7,000원
* 19세 이상 ~ 60세 미만: 12,000원
* 60세 이상: 0원

In [ ]:

age = 25

if age >= 1 and age < 8:
    print("입장료는", 3000, "원입니다.")
elif age >= 8 and age < 19:
    print("입장료는", 7000, "원입니다.")
elif age >= 19 and age < 60:
    print("입장료는", 12000, "원입니다.")
elif age >= 60:
    print("입장료는", 0, "원입니다.")

#### 반복문: 지정한 범위에 해당하는 만큼 명령문을 반복해서 실행함
- for문
- while문

In [ ]:
for x in [1, 2, 3, 4, 5, 6, 7, 8, 9]:
    print(x)

In [ ]:
#반복문 중첩(구구단 예제)
for i in range(1, 10):
    for j in range(1, 10):
        print(i, "X", j, "=", i * j)

In [ ]:
#While문

i = 0
while i < 5 :
    i += 1
    print('*'*i)

In [ ]:
#for문법은 range()와 함께 사용가능
#1부터 50까지의 수를 더한 값을 계산

result = 0
for i in range(1, 51): #1부터 50까지
    result += i

print(result)

In [ ]:
과일 = ['apple', 'banana', 'tomato']

for i in 과일 :
    print(i)

조건문

점수가 70점 이상인 경우 합력, 69~50점이면 재시험,
아니면 불합격

score = 60

반복문

while 조건식:
    명령문

In [ ]:
#while 문 초기식, 변화문을 같이 작성해줘야 함

num = 1
while num <= 5:
  print(num)
  num = num + 1 # 변화식

In [ ]:
count = 0
while count < 5 :
  count += 1   # count = count + 1
  print(f'{count}번 반복')
print(f'{count}번 반복 후 종료')

while ~ break
while ~ if ~ break

break: 조건이 항상 참인 경우 무한 반복되는데, 실행을 중지시킬때 break를 삽입

In [ ]:
count = 0
while True:
  count += 1
  if count == 3:
    print(f'{count}번 반복후 종료')
    break

In [ ]:
# while ~ if ~ continue
# 조건을 만족하면 반복문 처음으로 보내서 다시 계속 실행하게 함
# 특정 조건의 실행을 건너뛰기 할때 사용

count = 0
while count < 5:
  count += 1
  if count == 3:
    continue
  print(f'{count}번 반복')

In [ ]:
## i부터 99까지 숫자의 합을 반복문을 사용해서 합계를 출력
# 1~99까지의 합계: 합곗숫자

tot = 0

별찍기

*****
****
***
**
*

In [ ]:
response = ""

for i in range(1, 6):
  for j in range(0, 6-i):
    response += "*"
  response += "\n"

print(response)

# 파일 읽기와 쓰기
- 파일 객체를 만들 때는 open(), 파일 객체를 닫을 때는 close()함수를 사용

<pre>
f = open("example.txt", "w")
f.close()
</pre>

* 파이썬에서는 여러 가지 파일 모드(mode)를 제공한다.
  * r: <b>읽기(read)</b> 모드(파일 읽기)
  * w: <b>쓰기(write)</b> 모드(파일에 내용을 쓰기)
  * a: <b>추가(append)</b> 모드(파일의 마지막에 새로운 내용 추가)

In [ ]:
#파일 만들기(덮어쓰기 가능)
f = open('a.txt', 'w')
f.write('안녕하세요')
f.close() # 오픈한 파일은 반드시 닫아줘야 함

In [ ]:
# 파일 읽어오기

f = open('example.txt', 'r')
print(f.read())
f.close()

In [ ]:
# 01.ist_chr.csv 읽어오

In [ ]:
#파일 내용 추가하기

f = open('example.txt', 'a')
f.write('반가워')
f.close()

In [ ]:
#파일 내용 추가하기

f = open('a.txt', 'a')
f.write('\n반가워')  #\n은 엔터키를 의미함
f.close()

In [ ]:
#csv 형식으로 파일만들기

f = open('data.csv', 'w')
f.write('봄, 여름, 가을, 겨울')
f.close()

In [ ]:
# 연습문제1: b.txt 파일 만들기
회사명 = ['삼성전자', '카카오', '네이버', '심풍제약']

b= open('b.txt', 'w')
b.write(회사명[0] + '\n')
b.write(회사명[1] + '\n')
b.write(회사명[2] + '\n')
b.write(회사명[3] + '\n')
b.close()

In [ ]:
#반복문 사용으로 만들기
b= open('b.txt', 'w')

for i in range(1,5):
    b.write(회사명[i] + '\n')
b.close()

In [ ]:
# 파일 읽기
# read()함수 사용하면 전체 내용을 하나의 문자열로 반환

f = open("data.txt", "r")
data = f.read()
print(data)
f.close()

In [ ]:
import pandas as pd
data = pd.read_csv('01.ist_chr.csv', sep=',', encoding = 'euc-kr')

print(data.head())