In [ ]:
#한글 폰트 설치
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

In [ ]:
import matplotlib.pyplot as plt

plt.rc('font', family='NanumBarunGothic')

In [ ]:
# 라이브러리 불러오기

import seaborn as sns
import pandas as pd

In [ ]:
# 데이터 준비(딕셔너리 형태)
data = {
    'Category' : ['A', 'A', 'A', 'B', 'C', 'B', 'C', 'C'],
    'Value' : [1, 2, 3, 4, 5, 6, 7, 8]
}

df = pd.DataFrame(data) #data 변수를 이용해서 데이터프레임형태로 만들어줘

#박스플롯 그리기
sns.boxplot(x = 'Category', y='Value', data = df)

plt.show()

In [ ]:
# Seabon라이브러리에 포함된 데이터 셋을 활용하기

# titanic data 불러오기
titanic = sns.load_dataset('titanic')

# 데이터프레임출력
print(titanic.head())

In [ ]:
# join plot 그리기

sns.jointplot(x = 'age', y = 'fare', data = titanic)

plt.show()

In [ ]:
# 붓꽃 데이터 활용 pair plot 그리기
# 3차원 이상의 데이터 비교가 가능한 그래프

iris_data = sns.load_dataset('iris')

# print(iris_data.head())

# 페어플롯 그리기
sns.pairplot(iris_data)

plt.show()

In [ ]:
#히트맵

# 여객 운송 데이터
flights = sns.load_dataset('flights')
# print(flights.head())

# 피벗 테이블 생성
pivot_table = flights.pivot('month', 'year', 'passengers')

# 히트맵 그리기
sns.heatmap(pivot_table, annot = True, fmt = 'd' )

In [ ]:
# 바이올린 플롯
#타이타닉 데이터 활용
sns.violinplot(x = 'sex', y = 'age', data = titanic)

plt.show()

In [ ]:
penugins = [1.2, 2.5, 3.7, 2.1, 4.3, 1.8]
sns.stripplot(data = penugins)